.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 4rem;
  background: url("../../assets/images/header-bg-dark.jpg") no-repeat center
    center/cover;
  min-height: 300px;
  position: relative;
}

.header-content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-fonts-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 380px;
  min-width: 250px;
  width: 100%;
}

.theme-btn {
  color: var(--light-gray);
  min-width: fit-content;
  background-color: var(--blue);
  height: 4.4rem;
  padding: 0 1.5rem;
  border-radius: 1.2rem;
}
.theme-text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
}
.light-header-bg {
  background: url("../../assets/images/header-bg-light.svg") no-repeat top
    center/cover;
}
@media (width <= 700px) {
  .header-content {
    flex-direction: column-reverse;
    gap: 3rem;
    align-self: flex-start;
    padding-top: 3rem;
  }
  .theme-fonts-wrapper {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 2.5rem;
  }
  .font-wrapper {
    max-width: 200px !important;
    width: 100%;
  }
  @media (width <= 450px) {
    .theme-fonts-wrapper {
      flex-direction: column;
      justify-content: center;
    }
    .theme-btn {
      max-width: 200px !important;
      width: 100%;
    }
  }
}
