.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: var(--black-2);
  transition: 0.3s ease-in-out;
}
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}
.label {
  font-size: 1.2rem !important;
  color: var(--faded-gray) !important;
  font-weight: 700 !important;
}
.link:hover,.dropdown-btn:hover,.theme-btn:hover{
  transform: translateY(-2.5px)!important;
  transition: 0.3s ease-in-out!important;
}
/* 
*
*
LIGHT MODE STYLES
*
*
 */
.light-body-bg {
  background-color: #fff !important;
  color: var(--black-1) !important;
  transition: 0.3s ease-in-out !important;
 
}
.light-card-bg {
  background-color: #eceef5 !important;
  color: var(--black-1) !important;
  transition: 0.3s ease-in-out!important;
  border: 1px solid #c2c5d1 !important;
  box-shadow: 0 0 2rem #07112d27 !important;
}
.light-text {
  color: var(--black-1) !important;
  transition: 0.3s ease-in-out!important;

}
.light-fields {
  background-color: #fff !important;
  box-shadow: 0 0 2rem #07112d27 !important;
  border: 1px solid #a2a3a9 !important;
  transition: 0.3s ease-in-out!important;


}
